#P_detail{
    padding-left: 0%;
    padding-right: 3%;
    margin-left: -2%;
    width: 27%;
    height: 88%;
    float: left;
    text-align: center;
}
p{
    font-size: 1.3rem;
    font-family:  "\5b8b\4f53", sans-serif;
    /*courier;*/
    /*;Arial, SimHei, sans-serif,cursive;*/
    /*word-wrap: break-all;*/
    /*word-break: break-all;*/
    hyphens: auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: "\5b8b\4f53", sans-serif;
    /*courier;*/
    /*Arial, SimHei, sans-serif, cursive;*/
    /*font-weight: bold;*/
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: auto;
}
h1{
    font-size: 2.7rem;
}
h3{
    font-size: 1.5rem;
}
#content{
    padding-right: 3%;
    width: 67%;
    height: 88%;
    float: left;
}
#head_img{
    padding-top: 5%;
}
#head_img img{
    width: 250px;
    height: 250px;
    border-radius:50%
}
#bottom_img{
    padding-top: 5%;
}
#bottom_img img{
    width: 50px;
    height: 50px;
}
li{
    list-style: square;
}